
.about {
    width: 100vw;
    max-width: 1300px;
    line-height: 1.5rem;
    margin: 0 auto;
    padding-top: 70px;
}

.about-wrap {
    width: 80vw;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.about__pair {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.about__picture, .about__text {
    padding: 1rem;
    text-align: center;
}

.about__picture {
    border-radius: 50%;
    width: 180px;
    height: auto;   
}

.about__name {
    text-align: center;
    font-size: 1rem;
    color: rgb(29, 106, 136);
}

.about__text {
    font-size: 1rem;
    color: rgb(79, 80, 80);
    margin-bottom: 2rem;
}

.about__icons {
    display: flex;
}

.about__icon {
    padding: 0.5rem;
    color: rgb(79, 100, 109);

}

/* 1024px for iPad Pro */

@media (min-width: 1025px) {
    .about-wrap {
        flex-direction: row;
    }

    .about__pair {
        flex-basis: 25%;
    }

    .about__picture, .about__text {
        padding: 2rem;
    }
}