
.about {
    width: 100%;
    max-width: 1300px;
    line-height: 1.5rem;
    margin: 0 auto;
    padding-top: 70px;
}

.about-us_title {
    text-align: center;
    padding: 1.9rem;
    font-size: 1.5rem;
    color: var(--color-dark);
}

.about-wrap {
    width: 80vw;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.about__pair {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.about__picture, .about__text {
    padding: 1rem;
    text-align: center;
}

.about__picture {
    border-radius: 50%;
    width: 180px;
    height: auto;   
}

.about__name {
    text-align: center;
    font-size: 1rem;
    color: var(--color-dark);
}

.about__text {
    font-size: 1rem;
    color: var(--color-dark);
    margin-bottom: 2rem;
}

.about__icons {
    display: flex;
}

.about__icon {
    padding: 0.5rem;
    color: var(--color-blue);
}

.about__icon--hidden {
    display: none;
}

/* rotation */

.about__animation{
    perspective: 1000px;
    width: 200px;
    height: auto;
}

.about__pair{
    position: relative;

}


.about__animation:hover .about__pair {
 transform: rotateY(180deg);
 
}



/* 1024px for iPad Pro */

@media (min-width: 1025px) {
    .about-us_title {
        font-size: 1.8rem;
    }

    .about-wrap {
        flex-direction: row;
    }

    .about__pair {
        flex-basis: 25%;
    }

    .about__picture, .about__text {
        padding: 2rem;
    }
}