
.about {
    width: 100%;
    max-width: 1300px;
    line-height: 1.5rem;
    margin: 6% auto;
}

.about-us_title {
    text-align: center;
    padding: 1.9rem;
    font-size: 1.5rem;
    color: var(--color-dark);
}

.about-wrap {
    width: 80vw;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}

.about__picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.about__name {
    text-align: center;
    font-size: 1.2rem;
    color: var(--color-dark);
    padding: 1rem;
}


.about__icon {
    padding: 0.5rem;
    color: var(--color-white);
    font-size: 1.5rem;
}

.about__icon--hidden {
    display: none;
}

/* rotation */

.animation__container {
    background-color: transparent;
    width: 300px;
    height: 300px;
    margin: 3rem;
    /* perspective: 1000px; */
} 

.animation__container__inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.5s;
    transform-style: preserve-3d;
}

.animation__container:hover .animation__container__inner {
    transform: rotateY(180deg);
}

.about__animation{
    perspective: 1000px;
    width: 200px;
    height: 200px;
}


.animation-front, .animation-back {
    position: absolute;
    /* backface-visibility: hidden; */
}

.animation-front{
    width: 100%;
    height: 100%; 
    border-radius: 50%; 
}

.animation-back{
    background-color: var(--color-grey);
    border-radius: 50%;
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}




/* 1024px for iPad Pro */

@media (min-width: 1025px) {
     .about-us_title {
        font-size: 1.8rem;
    }

    .about-wrap {
        flex-direction: row;
        justify-content: space-around;
    }

    .about__pair {
        flex-basis: 25%;
    }
}