    .calculator__modal {
        display: flex;
        justify-content: center;
    }
    
    .calculator__modal--button {
        /*border: transparent;
    outline: none*/
    }
    
    .calculator__dialog {
        display: flex;
        justify-content: center;
        width: 500px;
        height: 300px;
    }
    
    .calculator__dialog--content {
        display: grid;
        width: 100%;
    }