header{
    background: #000;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-image: url("img/banner3-1600.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;

    width: 100%;
    max-width: 2000px;
    height: 540px;
    padding: 20px;
}

.hero__title{
    padding-top: 10px;
    color: var(--color-light-blue);
    font-size: 7vw;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

.hero__bottom-box{
    max-width: 500px;
    padding: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.hero__secondary-title{
    color: var(--color-light-blue);
    font-size: 5vw;
    padding: 20px 5px;
    font-weight: normal;
    text-shadow: 2px 2px 3px var(--color-dark);
}

.hero__button{
    display: inline-block;
    width: fit-content;
    text-decoration: none;
    color: var(--color-light-blue);
    background: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border: 3px solid var(--color-light-blue);
    border-radius: 30px;
    font-size: 5vw;
    text-shadow: 2px 2px 3px var(--color-dark);
}

@media (max-width: 360px){
    .hero__title{
        font-size: 25px;
    }
    .hero__secondary-title{
        font-size: 18px;
    }
    .hero__button{
        font-size: 18px;
    }
}

@media (min-width: 500px){
    .hero__title{
        font-size: 36px;
    }
    .hero__secondary-title{
        font-size: 24px;
    }
    .hero__button{
        font-size: 28px;
    }
}

@media (min-width: 1200px){
    .hero{
        align-items: initial;
    }
    .hero__bottom-box{
        align-self: flex-end;
        text-align: right;
    }
    .hero__secondary-title{
        font-size: 28px;
    }
}

@media (min-width: 1400px){
    .hero{
        height: 640px;
    }
}