.sign-up {
    background-color: var(--color-light-blue);
    padding: 70px 20px 70px;
    margin: 2rem 0;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.sign-up__title {
    font-size: 1.6rem;
    padding: 1rem;
    margin: 2rem 0;
    letter-spacing: 0.1rem;
    line-height: 2rem;
    color: var(--color-dark);
    text-align: center;
}

.sign-up__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__input {
    border-radius: 30px;
    height: 3.5rem;
    min-width: 10rem;
    text-align: center;
    border: 1px solid var(--color-blue);
    outline: none;
    background-color: var(--color-white);
    font-size: 1.4rem;
}

.form__button {
    border-radius: 30px;
    text-align: center;
    height: 3.5rem;
    min-width: 20rem;
    border: 1px solid var(--color-blue);
    background-color: var(--color-blue);
    color: var(--color-white);
    outline: none;
    font-size: 1.4rem;
    cursor: pointer;
    align-self: center;
    margin-top: 1rem;
}

.form__info {
    margin: 2rem 0;
    font-size: 1.2rem;
    color: var(--color-blue);
    text-align: center;
    padding: 16px;
}

@media (min-width: 860px) {
    .form__input {
        width: 20rem;
        min-width: 24rem;
    }
    p.form__info {
        font-size: 1.3rem;
    }
    .form__button {
        height: 3.5rem;
        min-width: 24.2rem;
    }
}