
header {
background-color: tomato;
}
header:: after {
    content: '';
    display: table;
    clear: both;
}
nav {
    
    display: flex;
    align-items: center;
}
.header__logo{

    
}
.header__list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.header__list > li {
    padding: 0 20px 0 20px;
}
.header__button{
    display: inline-block;
    margin: 0;
}

.header__menu {
    display: flex;
    position: fixed;
    width: 100%;
}
.hero {
    padding-top: 104px;
}