/*VAR*/

:root {
    --color-dark: rgb(29, 29, 29);
    --color-white: #fff;
    --color-light-blue: rgb(208, 226, 236);
    --color-blue: #3A515F;
}


/*STYLES*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin-top: 0px;
    margin-left: 0px;
}

.content {
    width: 100%;
    min-width: 320px;
    max-width: 1800px;
    margin: 0 auto;
}
