/* 
header {
    background-color: black;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    display: flex;
    align-items: center;
}

.nav__menu {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #000;
    justify-content: space-between;
    max-width: 1600px;
    align-items: center;
}

.nav__logo {
    z-index: 1;
}

.nav__img {
    height: 60px;
    width: 60px;
    padding: 10px;
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    z-index: 1;
    font-family: 'Comfortaa', cursive, 'Montserrat', sans-serif;
}

.nav__list>li {
    padding: 0 20px 0 20px;
}

.nav__button {
    display: inline-block;
    margin: 0;
    text-decoration: none;
    z-index: 1;
    color: white;
}

.nav__button:visited {
    color: white;
}

.header__menu {
    display: flex;
    position: fixed;
    width: 100%;
}
.hero {
    padding-top: 64px;
}

@media only screen and (max-width: 600px) {
    header {
        background-color: black;
        display: block;
        position: fixed;
        height: 50%;
        height: 260px;
        flex-direction: column;
        align-items: center;
    }
    .nav__list {
        flex-direction: column;
        text-align: center;
    }
    .nav__list>li {
        padding: 10px;
    }
    .hero {
        padding-top: 216px !important;
        background-position-y: 150px !important;
    }
    .nav__menu {
        flex-direction: column;
    }
} */


/* HEADER */

.header{
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 2000px;
    height: 70px;
    background: #000;
    font-size: 22px;
    color: #fff;
    z-index: 1;
}

.header__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.header__logo{
    display: inline-block;
}

.header__img{
    height: 50px;
}

.header__button {
    display: inline-block;
    margin: 0;
    text-decoration: none;
    color: white;
}

@media (max-width: 899px){
    .header__nav{
        display: none;
    }
    
    header:hover .header__nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #000;
    }
    
    header:hover .header__nav .header__button{
        display: block;
        padding: 10px;
    }
}

@media (min-width: 900px){
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__button{
        padding: 10px;
    }
    .header__menu .header__button{
        display: none;
    }
}